body {
	margin: 20px;
	position: relative;
}

body>div {
	background-color: blue;
	width: 200px;
	height: 200px;
	margin: 20px;
	position: relative;
}

body>div:nth-of-type(1) {
	float: right;
	background-color: orange;
	width: 800px;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 40px;
	/*transition-property: background-color;
	transition-duration: 2000ms;*/
}

/*body>div:nth-of-type(1):hover {
	background-color: purple;
	transition-duration: 200ms;
}*/


.papa-nicolas>button {
	border: none;
	background: none;
}

.papa-nicolas>button:focus {
	border: none;
	background: none;
	outline: none;
}

/*.papa-nicolas>button:active .nicolas {
	transform: skewY(-20deg);
}*/

.nicolas {
	background-color: transparent;
	width: 400px;
	position: absolute;
	right: 20px;
	top: 100px;
	border: 20px double midnightblue;
	padding: 40px;
	cursor: pointer;
	/*transition-property: transform;
	transition-duration: 600ms;*/
}

body>div:nth-of-type(2) {
	background-color: red;
	width: 600px;
	height: 600px;
	padding-top: 20px;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 170px;
	bottom: 0;
	/*transition-duration: 300ms;
	transition-property: width;
	transition-timing-function: ease-out;*/
}

/*body>div:nth-of-type(2):hover {
	width: 900px;
	transition-duration: 900ms;
}*/


body>div:nth-of-type(2)>div {
	background-color: cyan;
	padding-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	border: 10px dotted black;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}

body>div:nth-of-type(3) {
	background-color: yellow;
	clear: both;
	top: -80px;
	/*transition-duration: 300ms;
	transition-property: width;
	transition-timing-function: ease-out;
	transition-delay: 400ms;*/
}

/*body>div:nth-of-type(3):hover {
	width: 800px;
	transition-delay: 0ms;
	transition-timing-function: ease-in;
}*/




body>div:nth-of-type(4) {
	background-color: green;
	float: left;
	/*transition-property: background-color;
	transition-duration: 200ms;*/
}
/*
body>div:nth-of-type(4):hover {
	background-color: pink;
}

body>div:nth-of-type(4):hover+div {
	background-color: green;
	transform: rotateY(360deg);

}*/

body>div:nth-of-type(5) {
	background-color: pink;
	float: left;
	margin-left: 0;
	transition-duration: 100ms;
	transition-property: background-color, transform;
	transition-timing-function: ease-in-out;
}

body>div:nth-of-type(6) {
	background-color: blue;
	border-left: 20px solid rgba(255,255,255,.6);
	border-right: 20px solid rgba(255,255,255,.6);
	border-top: 20px solid rgba(255,255,255,.6);
	border-bottom: 60px solid rgba(255,255,255,.6);
	float: left;
	top: -80px;
	/*transition-property: transform, opacity;
	transition-duration: 200ms;
	transition-delay: 60ms, 0ms;*/
}

/*body>div:nth-of-type(6):hover {
	transform: scale(2);
	opacity: 0;
}*/


body>div:nth-of-type(7) {
	background-color: brown;
	border: 20px dashed rgba(255,255,255,.6);
	box-sizing: border-box;
	float: left;
	left: 200px;
}


body>div:nth-of-type(8) {
	background-color: indigo;
	height: 100px;
	width: auto;
	margin-top: 260px;
	clear: both;
	border: 20px solid hotpink;
	position: absolute;
	left: 0;
	right: 0;
/*	transition-property: transform;
	transform-origin: bottom center;
	transition-duration: 200ms;*/
}
/*
body>div:nth-of-type(8):hover {
	transform: scaleY(2);
	transition-duration: 600ms;
}*/