* {
	transition: 200ms ease-in-out;
	transition-property: background-color, opacity, transform;
}

img {
	max-width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

body>header {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 40px;
}

body>header img {
	object-fit: cover;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	vertical-align: middle;
	margin: auto;
	display: block;
}

body>header h1 {
	font-size: 16px;
	color: grey;
	margin-top: 20px;
	text-align: center;
	font-weight: 500;
}

body>nav {
	display: inline-block;
	margin-left: 60px;
	margin-top: 40px;
}

nav>* {
	display: inline-block;
}

nav>*:hover {
	background-color: lightgrey;
}

aside a,
nav a {
	padding: 20px;
}

aside>header {
	padding: 20px;
}

aside>header>h2 {
	font-weight: normal;
	font-size: 1em;
	display: inline;
}

aside>header>small {
	font-size: 10px;
	margin-left: 10px;
}

aside:hover>div {
	transition-delay: 60ms;
}

aside:not(:hover)>div {
	opacity: 0;
	pointer-events: none;
}

aside:not(:hover)>div a {
	opacity: 0;
	transform: translateY(-10px);
}

aside>div {
	position: absolute;
	background-color: lightgrey;
	transition: 100ms ease-in-out;
	transition-property: opacity;
	padding: 10px;
}

aside>div a {
	display: block;
	padding: 10px;
}

aside>div a:hover {
	background-color: aqua;
}

aside {
	float: right;
	position: relative;
}

aside>header,
aside>div {
	background-color: lightgrey;
}

aside>div {
	right: 0;
	width: 125%;
}