/* 

Palette de couleurs

#EFE1D2
#252026
#7F3019
#CB8635
#ECCB68

Échelle rythmique

8px
12px
24px
40px
56px
96px

Échelle typographique (tierce mineure)

1em
1.25em
1.563em
1.953em
2.441em
3.052em

*/

/* LES SÉLECTEURS SIMPLES */

/* Sélecteur universel 
   Utilisé généralement pour appliquer ou rétablir
   des styles très précis (comme ci-bas). */
* {
	margin: 0;
	padding: 0;
}

/* Sélecteur de balise
   Utilisé généralement pour appliquer largement
   des styles qui sont par défaut hérités. 
   Attention de restreindre au maximum ces styles
   pour éviter de cibler des éléments indésirés. */
html {
	background-color: #EFE1D2;
	
	/* Propriétés héritées */
	font-family: 'Montserrat';
	color: #7F3019;
}

/* Limiter la largeur du corps (« body ») de la page
   pour faciliter la lecture. Les lignes de texte trop larges
   nuisent à la lisibilité d'un document. */
body {
	max-width: 860px;
	margin: auto;
}

/* Assurer que toute image (« img ») occupe 
   tout l'espace lui étant disponible, sans le dépasser. */
img {
	width: 100%;
}

/* Sélecteur de classe
   Sélecteur le plus utilisé. La création de classes d'éléments
   permet une réutilisation simple et sûre de styles à partager
   par toutes les instances d'une même abstraction. */
.fiche {
	border-top: 2px solid #7F3019;
	border-bottom: 2px solid #7F3019;
	background-color: rgba(255,255,255,.4); 
	padding: 24px;
	font-family: 'Arial';
}

/* Sélecteur d'attribut
   Sélecteur très puissant pouvant cibler
   un élément possédant un attribut précis
   ou bien une valeur spécifique de cet attribut.
   Il est aussi possible de cibler
   une partie de la valeur seulement. */
[id="fiche-de-recette"] {
	padding: 56px;
}

/* EXEMPLES DE PSEUDO-CLASSES (d'état) */

/* Cible un lien qui a été préalablement visité par l'usager. */
a:visited {
	color: indigo;
}

/* Cible le survol d'un élément. */
a:hover {
	color: green;
}

/* Cible la focalisation (clavier ou clic) d'un élément. */
a:focus {
	color: orange;
}

/* Cible l'activation (clic) d'un élément.
   Attention ! Pour fonctionner cette pseudo-classe
   se doit d'avoir préséance sur celle de :focus ci-haut. */
a:active {
	color: red;
}


/* EXEMPLE DE PSEUDO-CLASSE STRUCTURELLE */

/* Sélecteur composite incluant la pseudo-classe :first-child
   Applique un rythme plus « lâche » à tous les
   premiers éléments étant enfants directs (le combinateur « > ») de
   toute balise « section » à l'intérieur de la classe « fiche » */
.fiche section > :first-child {
	margin-top: 40px;
	margin-bottom: 24px;
}

/* EXEMPLES DE SÉLECTEURS COMPOSITES */

/* Attention à la spécificité ! 
   Toujours tenter de la minimiser.
   Le sélecteur doit réfléter les intentions de départ. */

/* Appliquer un rythme vertical à 
   tous les éléments (sélecteur universel « * »)
   ayant un voisin précédent (le combinateur « + ») 
   et qui sont descendants (l'espace vide) de notre classe « fiche ». */
.fiche * + * {
	margin-top: 12px;
}

/* Espacer verticalement de manière accrue la balise figure.
   L'inclusion de la classe « fiche » est nécessaire pour supplanter
   l'ensemble de règles ci-haut qui aurait dans le cas contraire
   une spécificité qui soit plus grande. Un bon exemple de la necéssité
   de bien contrôler la spécificité. Notamment en la minimisant toujours
   le plus possible. */
.fiche figure {
	margin-top: 24px;
	margin-bottom: 24px;
}

/* Appliquer un rythme vertical plus « lâche » à 
   tous les éléments (sélecteur universel « * »)
   et qui sont enfants directs de notre classe « fiche »
   qui ne sont pas (la pseudo-classe :not() ) une balise « header » . */
.fiche > *:not(header) {
	margin-top: 56px;
}

/* Appliquer un espace de sécurité spécifique 
   à toutes les listes (à puce & numériques)
   étant descendantes (l'espace vide) de notre classe « fiche » */
.fiche ul,
.fiche ol {
	padding-left: 1em;
}


p:first-letter {
	background-color: orange;
}