body {
	margin: 20px;
	position: relative;
}

header {
	margin: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

header>* {
	margin-top: 20px;
}

p, li {
	font-size: 14px;
	line-height: 20px;
}

ol, ul {
	columns: 2;
	column-gap: 40px;
}

body>div {
	width: 200px;
	height: 200px;
	background-color: blue;
	margin: 20px;
	position: relative;
}

body>div:nth-of-type(1) {
	background-color: orange;
	float: right;
	width: 800px;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 40px;
}

body>div:nth-of-type(1)>img {
	background-color: transparent;
	width: 400px;
	position: absolute;
	right: 20px;
	display: block;
	top: 100px;
	padding: 40px;
	border: 20px double midnightblue;
}

body>div:nth-of-type(2) {
	background-color: red;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 0;
	width: 600px;
	height: 600px;
	padding-top: 20px;
}

body>div:nth-of-type(2)>div {
	background-color: cyan;
	padding: 40px;
	border: 10px dotted black;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-top: 100px;
}


body>div:nth-of-type(3) {
	background-color: yellow;
	clear: right;
	top: -80px;
}


body>div:nth-of-type(4) {
	background-color: green;
	float: left;
}


body>div:nth-of-type(5) {
	background-color: pink;
	margin-left: 0;
	float: left;
}


body>div:nth-of-type(6) {
	background-color: blue;
	border-left: 20px solid rgba(255,255,255,.6);
	border-right: 20px solid rgba(255,255,255,.6);
	border-top: 20px solid rgba(255,255,255,.6);
	border-bottom: 60px solid rgba(255,255,255,.6);
	float: left;
	top: -80px;
}


body>div:nth-of-type(7) {
	background-color: brown;
	border: 20px dashed rgba(255,255,255,.6);
	box-sizing: border-box;
	left: 180px;
	float: left;
}


body>div:nth-of-type(8) {
	left: 0;
	right: 0;
	height: 100px;
	border: 20px solid hotpink;
	color: white;
	background-color: indigo;
	clear: both;
	position: absolute;
	width: auto;
	margin-top: 260px;
}