body {
	margin: 20px;
	font-size: 0;
}

p {
	font-size: 14px;
	line-height: 20px;
}

body>div {
	width: 200px;
	height: 200px;
	margin: 20px;
}

body>div:nth-of-type(1) {
	background-color: orange;
	width: 800px;
	padding: 20px;
	margin-left: auto;
	position: relative;
	z-index: 2;
}

body>div:nth-of-type(1)>img {
	background-color: transparent;
	width: 400px;
	margin: 80px auto;
	margin-right: 0;
	display: block;
	border: 20px double midnightblue;
	padding: 40px;
}

body>div:nth-of-type(2) {
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 600px;
	margin-top: -200px;
	margin-bottom: -500px;
	padding-top: 20px;
	position: relative;
	z-index: 1;
}

body>div:nth-of-type(2)>div {
	background-color: cyan;
	padding: 40px;
	padding-top: 100px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	border: 10px dotted black;
}


body>div:nth-of-type(3) {
	background-color: yellow;
	position: relative;
	z-index: 1;
}

body>div:nth-of-type(4),
body>div:nth-of-type(5),
body>div:nth-of-type(6),
body>div:nth-of-type(7) {
	display: inline-block;
}

body>div:nth-of-type(4) {
	background-color: green;
}


body>div:nth-of-type(5) {
	background-color: pink;
	margin-left: 0;
}


body>div:nth-of-type(6) {
	background-color: blue;
	border-left: 20px solid rgba(255,255,255,.6);
	border-top: 20px solid rgba(255,255,255,.6);
	border-right: 20px solid rgba(255,255,255,.6);
	border-bottom: 60px solid rgba(255,255,255,.6);
}


body>div:nth-of-type(7) {
	background-color: brown;
	border: 20px dashed rgba(255,255,255,.6);
	box-sizing: border-box;
	margin-left: 200px;
}


body>div:nth-of-type(8) {
	background-color: indigo;
	width: auto;
	height: 100px;
	border: 20px solid hotpink;
}

