/* 
Langage graphique

Palette de couleurs
- #f8ffe9
- #000000

Polices de caractères
- Merriweather (Texte courant)
- Roboto (Titres)

Échelle rythmmique
- 20px
- 40px

Échelle de dimensions
- 70ch

...

*/

/* Rétablissement des marges ------------ */

	* {
		margin: 0;
		padding: 0;
	}


/* Base de styles génériques ------------ */

	/* Corps de page */
	body {
		padding: 40px;
		max-width: 70ch;
		margin-left: auto;
		margin-right: auto;
		background-color: #f8ffe9;
	}

	/* Assurer que les images occupent 
		toujours tout l'espace disponible */
	img {
		width: 100%;
		box-sizing: border-box;
	}

	/* Aligner les listes à puces
		avec le reste du contenu. */
	ul {
		padding-left: 1em;
	}

	/* Typographie */

	html {
		font-family: 'Merriweather', serif;
		line-height: 1.75;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
	}

	h1 {
		font-size: 40px;
		text-align: center;
	}

	header, footer {
		text-align: center;
	}


/* Application d'un rythme vertical ------------- */

	/* Appliquer un rythme minimal
		pour les éléments de contenu. */
	*+p,
	*+ul,
	*+img,
	*+figure,
	*+figcaption,
	*+hr	{
		margin-top: 20px;
	}

	/* Appliquer un rythme minimal
		pour les éléments structurels */
	main>article>*+*,
	main>article>section>*+* {
		margin-top: 40px;
	}


/* Styles particuliers à des classes ---------- */

	.name {
		text-transform: uppercase;
	}

	.frame {
		padding: 20px;
		border: 1px solid black;
	}